<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid justify-content-center">
        <div>
            <div class="navbar-nav">
                <a href="../tabla" class="nav-link">Tabla</a>
                <a href="../cotizacion" class="nav-link">cotizacion</a>
                <a href="../alumnos" class="nav-link">Alumnos</a>
            </div>
        </div>
    </div>
</nav>